- name: update apt cache
  apt:
    update_cache: true

- name: install java runtime
  apt:
    name: openjdk-11-jre
    state: present

- name: add jenkins key
  get_url:
    url: "{{ jenkins_key_url }}"
    dest: /usr/share/keyrings/jenkins-keyring.asc
    mode: '0644'

- name: add jenkins repo
  apt_repository:
    repo: "{{ jenkins_repo }}"
    filename: jenkins
    state: present

- name: install jenkins
  apt:
    name: jenkins
    state: present
    update_cache: true